@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel__slide
    width: 590px
  .hotel
    &-slider
      &__button
        cursor: auto
      &__iteme
        margin-right: 20px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .swiper-container
    margin-left: 0
    margin-right: 20px
    border-radius: 6px
  .footer__pay
    grid-column: span 4
    justify-content: space-between
  .footer__input
    &-group
      flex-basis: 100%
@media (max-width: 992px)
  a:hover
    cursor: auto
    &::after
      width: 0%
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
    &__image
      cursor: auto
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
      &-menu
        max-width: 673px
        margin: auto
        &-button
          &:hover
            background: $primary
            cursor: auto
    &__search
      margin-left: 47px
      max-width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
    &-info
      padding-bottom: 16px
  .booking
    width: 340px
    &__button
      padding: 13px 54px
      cursor: auto
      &:hover
        background: $primary
  .map-container
    width: 340px
    height: 210px
  .map
    width: 340px
  .menu
    padding-top: 22px
    padding-bottom: 22px
    &__button
      cursor: auto
      &:hover
        background: $primary
  .menu-button
    cursor: auto
  .navbar
    &__link
      font-size: 12px
      line-height: 15px
  .reviews
    padding: 40px 0 50px 0
    &__title
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      text-align: center
      text-transform: uppercase
      margin-bottom: 50px
    &-slider
      &__button--prev
        margin-left: 0
      &__button--next
        margin-right: 0
      &__button
        top: 45%
      &__item
        max-width: 580px
        &:after, &::before
          display: none
  .activities
    padding: 55px 0 98px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    &__title
      height: 40px
  .search__button
    position: absolute
    top: 0
    right: 0
    width: 65px
    height: 100%
    border: none
    background-color: #EC1F46
    outline: none
    padding: 12px 25px
    &:hover
      background: $primary
      cursor: auto
  .breadcrumb-list
    padding: 12px 0
  .swiper-container
    max-width: 700px
  .footer
    grid-gap: 50px
    &-wrapper
      grid-template-columns: pereat(7, 150px)
      grid-row-gap: 40px
      &-text
        margin-right: 190px
    &__info
      font-size: 10px
    &__link
      &::after
        content: ''
        display: block
        height: 1px
        background-color: transparent
        transition: 0.2s
        width: 0%
        &:hover
          cursor: auto
          &::after
            width: 0%
    /*&__input
     &-group
     flex-basis: 30%
    &__logo
      grid-row: 1/2
      grid-column: span 2
      width: 100px
    &__social
      &-network
        grid-row: 1/2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2/3
      grid-column: span 2
    /*&__legal
     grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
        width: 80%
    &__pay
      grid-column: span 6
      justify-content: space-between
    &__legal
      margin-left: 0
  .modal
    &__button
      cursor: auto
      &:hover
        background: $primary
    &__info-section
      flex-wrap: wrap
      min-width: 280px
      justify-content: space-between
  .subscribe__button, .card__button, .footer__button
    cursor: auto
    &:hover
      background: $primary
  .reviews-slider__button, .footer__pay, .footer__pay-text, .footer__icon-pay
    cursor: auto
@media (max-width: 765px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 80px
  .navbar
    &__search
      &--mobile
        &_visible
          max-width: 245px
          margin-left: 0
          &-mb
            margin-bottom: 39px
    &-mob
      &-fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
        min-height: 78px
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      overflow: scroll
      &--visible
        display: block
    &-menu
      flex-direction: column
      padding-top: 0
      &__item
        &-mb:not(:last-of-type)
          margin-bottom: 17px
        &--mobile
          &_visible
            display: block
      &__link
        &::after
          content: ''
          display: block
          height: 1px
          background-color: transparent
          transition: 0.2s
          width: 0%
          &:hover
            cursor: auto
            &::after
              width: 0%
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
        margin-bottom: 27px
  .stars
    flex-basis: auto
    margin-left: 0
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__raiting
        display: none
      &__offer
        order: -1
        margin-left: 0
  .booking
    width: 340px
  .hotel
    padding-bottom: 60px
    &-right
      flex-direction: column
      max-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map-container
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
    height: 260px
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate (-50%, 0)
          margin-left: -95px
        &--next
          right: 50%
          margin-right: -95px
          transform: translate (50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .footer
    &__icon-pay
      grid-column: span 2
      min-width: 136px
    &__pay-text
      font-size: 10px
      margin-right: auto
    &__logo
      grid-row: 1/1
    &__input
      &-group
        flex-basis: 100%

@media ( max-width: 576px )
  .logo
    width: 99px
  .hotel
    padding-top: 0
    padding-bottom: 40px
    &-info
      padding-bottom: 40px
      &__description
        margin: 0
      &__offer
        margin-top: 0
    &__slider
      margin-bottom: 20px
    &-slider
      height: 180px
    .map-container
      &__mt
        margin-top: 0px
  .newsletter
    padding: 76px 0 83px 0
    height: 319px
    &__title
      margin-bottom: 37px
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
    &-title
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .reviews__title
    font-size: 18px
    line-height: 23px
    text-align: center
    text-transform: uppercase
    padding-bottom: 46px
    max-width: 230px
    margin: auto
  .navbar-top
    margin-bottom: 0
  .breadcrumb
    height: 50px
    margin-bottom: 5px
  .reviews-slider
    &__profile
      height: 149px
  .card
    width: 100%
    &__title
      min-width: 161px
      height: 40px
  .activities__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    margin-bottom: 36px
  .swiper-container
    margin-right: 0
  .reviews-slider__item
    padding: 0 30px 30px
    &__text
      max-width: 537px
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 160%
      text-align: justify
      margin: auto
  .container
    max-width: 290px
  .swiper-slide
    max-width: 290px
  .swiper-container
    margin-right: 0
  .footer
    padding: 70px 0 0 0
    &__link:not(:last-of-type)
      margin-right: 8px
    &__title
      &--inline
        margin-bottom: 20px
    &-wrapper
      grid-template-columns: 290px
      grid-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-links
        justify-content: left
      &-network
        grid-row: 2
        grid-column: 1
        flex-direction: column
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
        width: 100%
    &__pay
      grid-row: 8
      grid-column: 1
      padding: 5px 0 21px 0
      flex-direction: column
    &__icon
      &-pay
        margin-right: auto
        justify-content: start
      &-text
        font-size: 12px
    &__icon-pay
      display: flex
      justify-content: end
      margin-top: 10px
    &__input
      flex-basis: 100%
    &__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160%
  .booking
    padding: 33px 20px 26px
    margin-bottom: 20px
  .modal
    &__dialog
      &--visible
        padding: 20px 20px
    &__info
      padding: 15px 0
      &-section
        justify-content: start
        flex-direction: column-reverse
        align-items: start
    &__button
      margin-top: 0
@media ( max-width: 320px )
  .modal
    &__button
      width: 100%
    &__info
      margin-top: 20px
